Dataset: https://archive.ics.uci.edu/ml/datasets/human+activity+recognition+using+smartphones

# Data Manipulation
numpy
pandas

# Machine Learning & Preprocessing
scikit-learn

# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# Visualization
matplotlib
seaborn

# Notebook Support (Required if running as .ipynb)
ipykernel
jupyter


